/* 自定义蓝白色主题样式 */
.driver-popover.blue-white-popover {
  max-width: 70rem;
  min-width:10rem;
  background-color: #ffffff; /* 浅蓝色背景 */
  color: #000;               /* 黑色字体 */
  border: 2px solid #4a90e2; /* 深蓝色边框 */
  padding: 20px;             /* 增加填充来扩大框的大小 */
  border-radius: 10px;        /* 边角圆滑 */
  text-align: center;
  font-family: 'Metropolis','Open Sans';
}

.driver-popover.blue-white-popover .driver-popover-title {
  font-size: 22px;            /* 更大标题字体 */
  color: #003366;             /* 深蓝色标题 */
}

.driver-popover.blue-white-popover .driver-popover-description {
  font-size: 18px;            /* 描述字体稍大 */
  color: #003366;             /* 深蓝色描述 */
}

.driver-popover.blue-white-popover button {
  background-color: #4a90e2;  /* 按钮背景色 */
  color: #ffffff;             /* 按钮文字为白色 */
  border: none;               /* 无边框 */
  padding: 10px 15px;         /* 增加按钮的填充 */
  border-radius: 5px;         /* 按钮圆角 */
  font-size: 16px;            /* 按钮文字大小 */
  cursor: pointer;            /* 鼠标悬停时变为手型 */
  text-shadow: 0px 0px 0 #fff;
}

.driver-popover.blue-white-popover button:hover {
  background-color: #003366;  /* 按钮悬停时变深色 */
}


/* 改变页脚按钮的布局 */
.driver-popover.blue-white-popover .driver-popover-footer {
  display: flex;
  justify-content: space-between; /* 页脚按钮两端对齐 */
}

.driver-popover.blue-white-popover .driver-popover-footer .driver-popover-progress-text {
  color: #003366;  /* 页脚进度文字颜色 */
}

.driver-popover.blue-white-popover .driver-popover-navigation-btns {
  gap: 5px;  /* 页脚按钮之间增加一些间距 */
}

.driver-popover.blue-white-popover .driver-popover-close-btn {
  color: #999999;  /* 关闭按钮颜色 */
  background-color: #ffffff00;
}

.driver-popover.blue-white-popover .driver-popover-close-btn:hover {
  color: #003366;  /* 关闭按钮悬停时变成深蓝色 */
}
